Repository zhuba-Ahhh/Vue3.2-Vite-Template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

修复: :bug: 修复完善提交等规范
  .eslintignore
  .eslintrc.cjs
  .husky/commit-msg
  1
  commitlint.config.js
  package.json
  src/types/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

特性: :sparkles: 添加Github Actions自动部署
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

特性: :sparkles: 添加Vueuse Hooks库
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

修复: :bug: 修复github action部署
  .github/workflows/deploy.yml
Due: none

Deploying to gh-pages from @ zhuba-Ahhh/Vue3.2-Vite-Template@9798cfceca11edea25f3832f943c6f530ccaa756 🚀
  assets/PiniaView.581eb691.css
  assets/PiniaView.a8fb10ce.js
  assets/index.739873ce.css
  assets/index.b64443a0.js
  assets/logo.da9b9095.svg
  favicon.ico
  index.html
Due: prettier --write, stylelint --fix

特性: :sparkles: 替换pinia-plugin-persist为pinia-plugin-persistedstate更加适配pinia+组合式Api
  package.json
  pnpm-lock.yaml
  src/stores/index.ts
  src/stores/modules/counter.ts
  tsconfig.config.json
  tsconfig.vitest.json
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ zhuba-Ahhh/Vue3.2-Vite-Template@346e9c0701340d0e277b6a72e2dd2fb9b2ae6575 🚀
  assets/PiniaView.1deec558.js
  assets/PiniaView.a8fb10ce.js
  assets/index.33388682.js
  assets/index.b64443a0.js
  index.html
Due: prettier --write, stylelint --fix

Create LICENSE
  LICENSE
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,json,vue,ts,tsx}
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.{html,vue,vss,sass,less})) or (any of: package.json)) or (any of: *.md)
  stylelint --fix: (any of: *.vue) or (any of: *.{html,vue,vss,sass,less})
